body {
    background-color: #eaedf1;
}

/* ......................HEAD........................ */
                
/* ................................................. */

.head {
    width: 100%;
    height: 475px;
    margin: 0;
}

.head-profile {
    position: absolute;
    margin-left: 88px;
    margin-top: 92px;
    width: 435px;
    height: 295px;
    background-color: #ffffff;
    border-radius: 3px;
}

.head-profile > .picture {
    position: relative;
    width: 146px;
    height: 150px;
    float: left;
    margin-left: 27px;
    margin-top: 33px;
    border-radius: 100px;
    background: #ffffff url(Icons/profile-photo.png) no-repeat ;
}

.head-profile .username {
    position: relative;
    float: right;
    width: 185px;
    height: 55px;
    margin-top: 82px;
    margin-right: 33px;
    color: #5C6C7C;
    font-size: 17px;
    font-family: "Lato", sans-serif;
}

.head-profile .username h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    margin-top: -5px;
    margin-left: -3px;
    font-family: Signika Negative;
    color: #33495f;
}

.username p {
    margin: 0;
    margin-left: -2px;
    margin-top: 3px;
}

.head-profile .userinfo {
    position: relative;
    width: 435px;
    height: 80px;
    top: 32px;
    left: 0px;
    clear: both;
}

.head-profile .userinfo .info-1 {
    float: left;
    width: 109px;
    height: inherit;
    background: #16c4ec url(Icons/eye-profile.png) no-repeat 50% 30%;
}

.info-1 samp {
    display: inline-block;
    position: relative;
    left: 29%;
    top: 50%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-profile .userinfo .info-2 {
    float: left;
    width: 109px;
    height: inherit;
    background: #fa5351 url(Icons/flag-profile.png) no-repeat 50% 30%;
}

.info-2 samp {
    display: inline-block;
    position: relative;
    left: 16%;
    top: 50%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-profile .userinfo .info-3 {
    float: left;
    width: 108px;
    height: inherit;
    background: #10cdc1 url(Icons/car-profile.png) no-repeat 50% 30%;
}

.info-3 samp {
    display: inline-block;
    position: relative;
    left: 23%;
    top: 50%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-profile .userinfo .info-4 {
    float: left;
    width: 109px;
    height: inherit;
    background: #33495f url(Icons/cigarette-profile.png) no-repeat 50% 30%;
}

.info-4 samp {
    display: inline-block;
    position: relative;
    left: 36%;
    top: 50%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-mail {
    position: absolute;
    width: 825px;
    height: 295px;
    margin-left: 612px;
    margin-top: 92px;
    background-color: #FFFFFF;
    border-radius: 3px;
} 

.head-mail > .main-info {
    float: left;
    width: 405px;
    height: 165px;
    margin-left: 33px;
    margin-top: 50px;
    font-family: Lato;
    font-size: 18px;
    text-align: justify;
    color: #3E5267;
}

.main-info > h1 {
    font-size: 38px;
    margin: 0;
    margin-left: -3px;
    margin-top: -8px;
    font-weight: normal;
    color: #33495F;
    font-family: Signika Negative;
    vertical-align: top;
}

.main-info > p {
    margin-top: 10px;
    line-height: 29px;
}

.main-info span {
    font-weight: bold;
}

.main-info a {
    text-decoration: none;
    color: #16C4EC;
}

.head-mail > .mail-rel {
    width: 277px;
    height: 101px;
    float: right;
    margin-right: 38px;
    margin-top: 110px;
    font-size: 23px;
    font-family: Signika;
    text-align: justify;
    color: #3E5267;
    border-bottom: 1px solid #788695;
}

.mail-rel span {
    display: block;
    margin: 0;
    margin-top: -5px;
    margin-left: -2px;
}

.mail-rel a {
    display: block;
    text-decoration: none;
    margin: 0;
    margin-top: -8px;
    color: #FA5351;
    letter-spacing: 2px;
}
