body {
    background-color: #eaedf1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ......................HEAD........................ */
                
/* ................................................. */

 .header {
    width: 1530px;
    height: 387px;
    margin: 0;
}

 .head-profile {
    margin-left: 88px;
    margin-top: 92px;
    width: 435px;
    float: left;
    height: 295px;
    background-color: #ffffff;
    border-radius: 3px;
}

.head-profile > .picture {
    position: relative;
    width: 146px;
    height: 150px;
    float: left;
    margin-left: 27px;
    margin-top: 33px;
    border-radius: 100px;
    background: #ffffff url(Icons/profile-photo.png) no-repeat ;
}

.head-profile .username {
    position: relative;
    float: right;
    width: 185px;
    height: 55px;
    margin-top: 82px;
    margin-right: 33px;
    color: #5C6C7C;
    font-size: 17px;
    font-family: "Lato", sans-serif;
}

.head-profile .username h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    margin-top: -5px;
    margin-left: -3px;
    font-family: Signika Negative;
    color: #33495f;
}

.username p {
    margin: 0;
    margin-left: -2px;
    margin-top: 3px;
}

.head-profile .userinfo {
    position: relative;
    width: 435px;
    height: 80px;
    top: 32px;
    left: 0px;
    clear: both;
}

.head-profile .userinfo .info-1 {
    float: left;
    width: 109px;
    height: inherit;
    background: #16c4ec url(Icons/eye-profile.png) no-repeat 50% 30%;
}

.info-1 samp {
    display: inline-block;
    position: relative;
    left: 28%;
    top: 55%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-profile .userinfo .info-2 {
    float: left;
    width: 109px;
    height: inherit;
    background: #fa5351 url(Icons/flag-profile.png) no-repeat 50% 31%;
}

.info-2 samp {
    display: inline-block;
    position: relative;
    left: 14%;
    top: 55%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-profile .userinfo .info-3 {
    float: left;
    width: 108px;
    height: inherit;
    background: #10cdc1 url(Icons/car-profile.png) no-repeat 50% 35%;
}

.info-3 samp {
    display: inline-block;
    position: relative;
    left: 20%;
    top: 55%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-profile .userinfo .info-4 {
    float: right;
    width: 109px;
    height: inherit;
    background: #33495f url(Icons/cigarette-profile.png) no-repeat 49% 34%;
}

.info-4 samp {
    display: inline-block;
    position: relative;
    left: 34%;
    top: 55%;
    color: #f5fbfe;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.head-mail {
    width: 825px;
    height: 295px;
    float: right;
    margin-top: 92px;
    margin-right: 95px;
    background-color: #FFFFFF;
    border-radius: 3px;
} 
 
.head-mail > .main-info {
    float: left;
    width: 405px;
    height: 165px;
    margin-left: 33px;
    margin-top: 50px;
    font-family: Lato;
    font-size: 18px;
    text-align: justify;
    color: #3E5267;
}

.main-info > h1 {
    word-spacing: -2px;
    font-size: 39px;
    margin: 0;
    margin-left: -4px;
    margin-top: -8px;
    font-weight: normal;
    color: #33495F;
    font-family: Signika Negative;
    vertical-align: top;
}

.main-info > p {
    margin-top: 10px;
    line-height: 30px;
    margin-top: 8px;
    margin-left: -1px;
    word-spacing: 0px;
}

.main-info span {
    font-weight: bold;
}

.main-info a {
    text-decoration: none;
    color: #16C4EC;
}

.head-mail > .mail-rel {
    width: 277px;
    height: 101px;
    float: right;
    margin-right: 35px;
    margin-top: 110px;
    font-size: 23px;
    font-family: Signika;
    text-align: justify;
    color: #3E5267;
    border-bottom: 1px solid #788695;
}

.mail-rel span {
    display: block;
    margin: 0;
    margin-top: -5px;
    margin-left: -2px;
}

.mail-rel a {
    display: block;
    text-decoration: none;
    margin: 0;
    margin-top: -8px;
    color: #FA5351;
    letter-spacing: 2px;
}

.head-mail .sociative {
    width: 410px;
    height: 40px;
    float: left;
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
}

.sociative .tw-sociate {
    display: block;
    float: left;
    height: 40px;
    width: 68px;
    background: #ffffff url(Icons/social.png) no-repeat -2px 4px;
}

.sociative .b-sociate {
    display: block;
    float: left;
    height: 40px;
    width: 68px;
    background: #ffffff url(Icons/social.png) no-repeat -70px 4px;
}

.sociative .be-sociate {
    display: block;
    float: left;
    height: 40px;
    width: 68px;
    background: #ffffff url(Icons/social.png) no-repeat -138px 4px;
}

.sociative .inst-sociate {
    display: block;
    float: left;
    height: 40px;
    width: 68px;
    background: #ffffff url(Icons/social.png) no-repeat -206px 4px;
}

.sociative .app-sociate {
    display: block;
    float: left;
    height: 40px;
    width: 68px;
    background: #ffffff url(Icons/social.png) no-repeat -274px 4px;
}

.sociative .in-sociate {
    display: block;
    float: left;
    height: 40px;
    width: 70px;
    background: #ffffff url(Icons/social.png) no-repeat -342px 4px;
}

.sociative .tw-sociate:hover {
    background: #ffffff url(Icons/social-link.png) no-repeat -2px 4px;
}

.sociative .b-sociate:hover {
    background: #ffffff url(Icons/social-link.png) no-repeat -70px 4px;
}

.sociative .be-sociate:hover {
    background: #ffffff url(Icons/social-link.png) no-repeat -138px 4px;
}

.sociative .inst-sociate:hover {
    background: #ffffff url(Icons/social-link.png) no-repeat -206px 4px;
}

.sociative .app-sociate:hover {
    background: #ffffff url(Icons/social-link.png) no-repeat -274px 4px;
}

.sociative .in-sociate:hover {
    background: #ffffff url(Icons/social-link.png) no-repeat -342px 4px;
} 

/* .............FEATURES............... */

/* ...................................... */


.features {
    width: 1530px;
    height: 1227px;
    margin: 0px;
}

.features .main-left {
    float: left;
    width: 723px;
    height: inherit;
}

.main-left .secret {
    float: left;
    width: 635px;
    height: 340px;
    margin-left: 88px;
    margin-top: 36px;
    background-color: #ffffff;
    border-radius: 3px;
}

.main-left .secret > .header {
    width: inherit;
    height: 53px;
    float: left;
    padding: 21px;
    margin-top: 3px;
    font-family: Signika;
    padding-top: 26px;
    padding-left: 24px;
}

.main-left .secret > .header > .h-1 {
    display: inline-block;
    font-size: 25px;
    word-spacing: 1px;
    font-weight: normal;
    color: #33495F;
}

.main-left .secret > .header > .h-2 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;
    font-family: Lato;
    font-size: 18px;
    color: #9EA7B4;
}

.main-left .secret > .header > .h-3 {
    display: inline-block;
    font-size: 21px;
    margin-top: 2px;
    margin-left: -3px;
    word-spacing: 2px;
    color: #04BCA6;
}

.main-left .secret > .descr {
    width: inherit;
    height: 162px;
    float: left;
    padding: 5px;
    padding-left: 13px;
}

.main-left .secret > .descr ul {
    list-style-image: url(Icons/list-g.png);
    margin-top: 5px;
    color: #33495F;
}

.main-left .secret > .descr li {
    font-family: Lato;
    font-size: 16px;
    line-height: 34px;
    word-spacing: 1px;
    text-align: justify;
}

.main-left .secret .enter {
    clear: both;
    width: inherit;
    height: 60px;
}

.secret .enter > ul {
    list-style: none;
    display: inline-block;
}

.secret .enter > ul li {
    display: inline-block;
}

.secret .enter > ul > .bord {
    width: 84px;
    text-align: right;
    margin-left: -12px;
    background: #ffffff url(Icons/bordeaux.png) no-repeat 0px 2px;
}

.secret .enter > ul > li a {
    text-decoration: none;
}

.secret .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 15px;
    color: #9EA7B4;
}

.secret .enter > ul > .ret {
    margin-left: 53px;
    width: 142px;
    text-align: right;
    background: url(Icons/return.png) no-repeat 0px 3px;
}

.secret .enter > ul > li > .year {
    font-family: Lato;
    font-size: 15px;
    color: #9EA7B4;
}

.secret .enter > ul > .ret {
    list-style-image: url(Icons/return.png);
}

.secret .enter > ul > li .button {
    margin-left: 80px;
    display: inline-block;
    width: 217px;
    height: 39px;
    background-color: #16C4EC;
    border-radius: 3px;
    text-align: center;
    font-size: 17px;
    font-family: Signika;
    margin-top: -12px;
    color: #ffffff;
}

.secret .enter > ul > li .button span{
    display: block;
    margin-top: 10px;
}

.main-left .cortix {
    float: left;
    width: 635px;
    height: 322px;
    margin-left: 88px;
    margin-top: 33px;
    background-color: #ffffff;
    border-radius: 3px;
}

.main-left .cortix > .header {
    width: inherit;
    height: 53px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 28px;
    padding-left: 24px;
}

.main-left .cortix > .header > .h-1 {
    display: inline-block;
    font-size: 25px;
    font-weight: normal;
    color: #33495F;
}

.main-left .cortix > .header > .h-2 {
    display: inline-block;
    margin-left: 9px;
    font-family: Lato;
    font-size: 18px;
    color: #9EA7B4;
}

.main-left .cortix > .header > .h-3 {
    font-size: 21px;
    margin-top: 2px;
    color: #04BCA6;
}

.main-left .cortix > .descr {
    width: inherit;
    height: 155px;
    float: left;
    padding: 5px;
    padding-left: 13px;
}

.main-left .cortix > .descr ul {
    list-style-image: url(Icons/list-g.png);
    margin-top: -10px;
    margin-left: 4px;
    color: #33495F;
}

.main-left .cortix > .descr li {
    font-family: Lato;
    font-size: 16px;
    line-height: 33px;
    word-spacing: 0px;
}

.main-left .cortix .enter {
    clear: both;
    width: inherit;
    height: 60px;
}

.cortix .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: 3px;
}

.cortix .enter > ul li {
    display: inline-block;
}

.cortix .enter > ul > .bord {
    width: 85px;
    margin-left: -10px;
    text-align: right;
    background: #ffffff url(Icons/bordeaux.png) no-repeat 0px 2px;
}

.cortix .enter > ul > li a {
    text-decoration: none;
}

.cortix .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 16px;
    color: #9EA7B4;
}

.cortix .enter > ul > .ret {
    margin-left: 43px;
    width: 139px;
    text-align: right;
    background: url(Icons/return.png) no-repeat 0px 3px;
}

.cortix .enter > ul > li > .year {
    font-family: Lato;
    font-size: 16px;
    color: #9EA7B4;
}

.cortix .enter > ul > .ret {
    list-style-image: url(Icons/return.png);
}

.cortix .enter > ul > li .button {
    margin-left: 90px;
    display: inline-block;
    width: 217px;
    height: 39px;
    font-size: 17px;
    background-color: #16C4EC;
    border-radius: 3px;
    text-align: center;
    font-family: Signika;
    margin-top: -8px;
    color: #ffffff;
}

.cortix .enter > ul > li .button span{
    display: block;
    margin-top: 10px;
}

.main-left .ademe {
    float: left;
    width: 635px;
    height: 170px;
    margin-left: 88px;
    margin-top: 33px;
    background-color: #ffffff;
    border-radius: 3px;
}

.main-left .ademe > .header {
    width: inherit;
    height: 35px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 30px;
    padding-left: 25px;
}

.main-left .ademe > .header > .h-1 {
    display: inline-block;
    font-size: 25px;
    font-weight: normal;
    color: #33495F;
}

.main-left .ademe > .header > .h-2 {
    display: inline-block;
    margin-left: 5px;
    font-family: Lato;
    font-size: 18px;
    word-spacing: -1px;
    color: #9EA7B4;
}

.main-left .ademe > .header > .h-3 {
    font-size: 21px;
    margin-top: 2px;
    margin-left: -1px;
    color: #04BCA6;
}

.main-left .ademe .enter {
    clear: both;
    width: inherit;
    height: 60px;
}

.ademe .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: 35px;
    margin-left: -1px;
}

.ademe .enter > ul li {
    display: inline-block;
}

.ademe .enter > ul > .bord {
    width: 85px;
    margin-left: -10px;
    text-align: right;
    background: #ffffff url(Icons/bordeaux.png) no-repeat 0px 2px;
}

.ademe .enter > ul > li a {
    text-decoration: none;
}

.ademe .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 16px;
    color: #9EA7B4;
}

.ademe .enter > ul > .ret {
    margin-left: 51px;
    width: 149px;
    text-align: right;
    background: url(Icons/return.png) no-repeat 0px 3px;
}

.ademe .enter > ul > li > .year {
    font-family: Lato;
    font-size: 16px;
    color: #9EA7B4;
}

.ademe .enter > ul > .ret {
    list-style-image: url(Icons/return.png);
}

.ademe .enter > ul > li .button {
    margin-left: 73px;
    display: inline-block;
    width: 217px;
    height: 39px;
    font-size: 17px;
    background-color: #B0BBCA;
    border-radius: 3px;
    text-align: center;
    font-family: Signika;
    margin-top: -10px;
    color: #ffffff;
}

.ademe .enter > ul > li .button span{
    display: block;
    margin-top: 10px;
}

/*  */

.main-left .impec {
    float: left;
    width: 635px;
    height: 170px;
    margin-left: 88px;
    margin-top: 33px;
    background-color: #ffffff;
    border-radius: 3px;
}

.main-left .impec > .header {
    width: inherit;
    height: 45px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 30px;
    padding-left: 25px;
}

.main-left .impec > .header > .h-1 {
    display: inline-block;
    font-size: 25px;
    margin-top: -1px;
    font-weight: normal;
    color: #33495F;
}

.main-left .impec > .header > .h-2 {
    display: inline-block;
    margin-left: 5px;
    font-family: Lato;
    font-size: 18px;
    word-spacing: -1px;
    color: #9EA7B4;
}

.main-left .impec > .header > .h-3 {
    font-size: 21px;
    margin-top: 1px;
    margin-left: -1px;
    color: #04BCA6;
}

.main-left .impec .enter {
    clear: both;
    width: inherit;
    height: 60px;
}

.impec .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: 16px;
    margin-left: -1px;
}

.impec .enter > ul li {
    display: inline-block;
}

.impec .enter > ul > .bord {
    width: 65px;
    margin-left: -10px;
    margin-top: 5px;
    text-align: right;
    background: #ffffff url(Icons/bordeaux.png) no-repeat 0px 2px;
}

.impec .enter > ul > li a {
    text-decoration: none;
}

.impec .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 16px;
    color: #9EA7B4;
}

.impec .enter > ul > .ret {
    margin-left: 70px;
    width: 169px;
    text-align: right;
    margin-top: 0px;
    background: url(Icons/return.png) no-repeat 0px 2px;
}

.impec .enter > ul > li > .year {
    font-family: Lato;
    font-size: 16px;
    color: #9EA7B4;
}

.impec .enter > ul > .ret {
    list-style-image: url(Icons/return.png);
}

.impec .enter > ul > li .button {
    margin-left: 55px;
    display: inline-block;
    width: 217px;
    height: 39px;
    font-size: 17px;
    background-color: #B0BBCA;
    border-radius: 3px;
    text-align: center;
    font-family: Signika;
    margin-top: -10px;
    color: #ffffff;
}

.impec .enter > ul > li .button span{
    display: block;
    margin-top: 10px;
}

.features .main-right {
    float: right;
    width: 740px;
    height: inherit;
}

/*  */

.main-right .yelp {
    float: left;
    width: 625px;
    height: 170px;
    margin-left: 22px;
    margin-top: 36px;
    background-color: #DBE1E8;
    border-radius: 3px;
}

.main-right .yelp > .header {
    width: inherit;
    height: 45px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 30px;
    padding-left: 25px;
}

.main-right .yelp > .header > .h-1 {
    display: inline-block;
    font-size: 23px;
    margin-top: -1px;
    font-weight: normal;
    color: #33495F;
}

.main-right .yelp > .header > .h-2 {
    display: inline-block;
    margin-left: 7px;
    font-family: Lato;
    font-size: 15px;
    word-spacing: 1px;
    color: #9EA7B4;
}

.main-right .yelp > .header > .h-3 {
    font-size: 18px;
    margin-top: 1px;
    margin-left: -1px;
    word-spacing: -1px;
    color: #04BCA6;
}

.main-right .yelp .enter {
    clear: both;
    width: inherit;
    height: 60px;
}

.yelp .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    margin-left: -1px;
}

.yelp .enter > ul li {
    display: inline-block;
}

.yelp .enter > ul > .bord {
    width: 72px;
    margin-left: -14px;
    margin-top: 9px;
    text-align: right;
    background: #DBE1E8 url(Icons/bordeaux-gray.png) no-repeat 0px 2px;
}

.yelp .enter > ul > li a {
    text-decoration: none;
}

.yelp .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.yelp .enter > ul > .ret {
    margin-left: 65px;
    width: 132px;
    text-align: right;
    margin-top: 0px;
    background: url(Icons/return-gray.png) no-repeat 0px 2px;
}

.yelp .enter > ul > li > .year {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.yelp .enter > ul > li .button {
    margin-left: 80px;
    display: inline-block;
    width: 217px;
    height: 39px;
    font-size: 16px;
    background-color: #10CDC1;
    border-radius: 3px;
    text-align: center;
    font-family: Signika;
    margin-top: -2px;
    color: #ffffff;
}

.yelp .enter > ul > li .button span{
    display: block;
    margin-top: 10px;
}

.main-right .container-qoqa {
    float: left;
    width: 625px;
    height: 203px;
    margin-left: 22px;
    margin-top: 33px;
    border-radius: 3px;
    border-bottom: 3px dotted #C2CAD4;
}

/*  */

.main-right .container-qoqa .qoqa {
    float: left;
    width: 625px;
    height: 170px;
    background-color: #DBE1E8;
    border-radius: 3px;
}

.main-right .container-qoqa .qoqa > .header {
    width: inherit;
    height: 45px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 29px;
    padding-left: 25px;
}

.main-right .container-qoqa .qoqa > .header > .h-1 {
    display: inline-block;
    font-size: 23px;
    margin-top: -1px;
    font-weight: normal;
    color: #33495F;
}

.main-right .container-qoqa .qoqa > .header > .h-2 {
    display: inline-block;
    margin-left: 7px;
    font-family: Lato;
    font-size: 15px;
    word-spacing: 1px;
    color: #9EA7B4;
}

.main-right .container-qoqa .qoqa > .header > .h-3 {
    font-size: 18px;
    margin-top: 1px;
    margin-left: -1px;
    word-spacing: -1px;
    color: #04BCA6;
}

.main-right .container-qoqa .qoqa .enter {
    clear: both;
    width: inherit;
    height: 70px;
}

.container-qoqa .qoqa .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    margin-left: -1px;
}

.container-qoqa .qoqa .enter > ul li {
    display: inline-block;
}

.container-qoqa .qoqa .enter > ul > .bord {
    width: 73px;
    margin-left: -14px;
    margin-top: 11px;
    text-align: right;
    background: #DBE1E8 url(Icons/bordeaux-gray.png) no-repeat 0px 2px;
}

.container-qoqa .qoqa .enter > ul > li a {
    text-decoration: none;
}

.container-qoqa .qoqa .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.container-qoqa .qoqa .enter > ul > .ret {
    margin-left: 65px;
    width: 139px;
    text-align: right;
    margin-top: 0px;
    background: url(Icons/return-gray.png) no-repeat 0px 2px;
}

.container-qoqa .qoqa .enter > ul > li > .year {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.container-qoqa .qoqa .enter > ul > li .button {
    margin-left: 75px;
    display: inline-block;
    width: 217px;
    height: 38px;
    font-size: 15px;
    background-color: #10CDC1;
    border-radius: 3px;
    text-align: center;
    font-family: Signika;
    margin-top: -5px;
    color: #ffffff;
}

.container-qoqa .qoqa .enter > ul > li .button span{
    display: block;
    margin-top: 8px;
}

/*  */

.main-right .cefire {
    float: left;
    width: 625px;
    height: 127px;
    margin-left: 22px;
    margin-top: 33px;
    background-color: #DBE1E8;
    border-radius: 3px;
}

.main-right .cefire > .header {
    width: inherit;
    height: 40px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 30px;
    padding-left: 25px;
}

.main-right .cefire > .header > .h-1 {
    display: inline-block;
    font-size: 23px;
    margin-top: -1px;
    margin-left: -1px;
    font-weight: normal;
    color: #33495F;
}

.main-right .cefire > .header > .h-2 {
    display: inline-block;
    margin-left: 5px;
    font-family: Lato;
    font-size: 15px;
    word-spacing: 1px;
    color: #9EA7B4;
}

.main-right .cefire > .header > .h-3 {
    font-size: 18px;
    margin-top: 1px;
    margin-left: -1px;
    word-spacing: 0px;
    color: #04BCA6;
}

.main-right .cefire .enter {
    clear: both;
    width: inherit;
    height: 36px;
}

.cefire .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: -12px;
    margin-left: -5px;
}

.cefire .enter > ul li {
    display: inline-block;
}

.cefire .enter > ul > .bord {
    width: 72px;
    margin-left: -10px;
    margin-top: 5px;
    text-align: right;
    background: #DBE1E8 url(Icons/bordeaux-gray.png) no-repeat 0px 2px;
}

.cefire .enter > ul > li a {
    text-decoration: none;
}

.cefire .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.cefire .enter > ul > .ret {
    margin-left: 65px;
    width: 130px;
    text-align: right;
    margin-top: 0px;
    background: url(Icons/return-gray.png) no-repeat 0px 2px;
}

.cefire .enter > ul > li > .year {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.cefire .enter .stars {
    width: 100px;
    height: 20px;
    margin-left: 205px;
    margin-top: 12px;
}

.stars .s-1, .s-2, .s-3, .s-4, .s-5 {
    float: left;
    height: inherit;
    width: 20px;
    background: url(Icons/star.png) no-repeat 0px 5px;
}

.stars .s-1:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-2:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-3:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-4:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-5:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

/*  */

.main-right .ecole {
    float: left;
    width: 625px;
    height: 127px;
    margin-left: 22px;
    margin-top: 33px;
    background-color: #DBE1E8;
    border-radius: 3px;
}

.main-right .ecole > .header {
    width: inherit;
    height: 40px;
    float: left;
    padding: 21px;
    font-family: Signika;
    padding-top: 30px;
    padding-left: 25px;
}

.main-right .ecole > .header > .h-1 {
    display: inline-block;
    font-size: 23px;
    margin-top: -1px;
    margin-left: -1px;
    font-weight: normal;
    color: #33495F;
}

.main-right .ecole > .header > .h-2 {
    display: inline-block;
    margin-left: 5px;
    font-family: Lato;
    font-size: 15px;
    word-spacing: 1px;
    color: #9EA7B4;
}

.main-right .ecole > .header > .h-3 {
    font-size: 18px;
    margin-top: 1px;
    margin-left: -1px;
    word-spacing: 0px;
    color: #04BCA6;
}

.main-right .ecole .enter {
    clear: both;
    width: inherit;
    height: 36px;
}

.ecole .enter > ul {
    list-style: none;
    display: inline-block;
    margin-top: -15px;
    margin-left: -5px;
}

.ecole .enter > ul li {
    display: inline-block;
}

.ecole .enter > ul > .bord {
    width: 92px;
    margin-left: -10px;
    margin-top: 5px;
    text-align: right;
    background: #DBE1E8 url(Icons/bordeaux-gray.png) no-repeat 0px 2px;
}

.ecole .enter > ul > li a {
    text-decoration: none;
}

.ecole .enter > ul > li .bordeaux {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.ecole .enter > ul > .ret {
    margin-left: 45px;
    width: 128px;
    text-align: right;
    margin-top: 0px;
    background: url(Icons/return-gray.png) no-repeat 0px 2px;
}

.ecole .enter > ul > li > .year {
    font-family: Lato;
    font-size: 13px;
    color: #33495F;
}

.ecole .enter .stars {
    width: 100px;
    height: 20px;
    margin-left: 205px;
    margin-top: 12px;
}

.stars .s-1, .s-2, .s-3, .s-4, .s-5 {
    float: left;
    height: inherit;
    width: 20px;
    background: url(Icons/star.png) no-repeat 0px 5px;
}

.stars .s-1:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-2:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-3:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-4:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.stars .s-5:hover {
    background: url(Icons/star-grey.png) no-repeat 0px 5px;
}

.main-right .stat {
    float: left;
    width: 625px;
    height: 400px;
    margin-left: 22px;
    margin-top: 36px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.stat .header {
    float: left;
    width: 625px;
    height: 130px;
}

.stat .header > .h-1 {
    float: left;
    width: 110px;
    height: inherit;
}

.stat .header > .h-2 {
    float: left;
    width: 107px;
    height: inherit;
}

.stat .header > .h-3 {
    float: left;
    width: 100px;
    height: inherit;
}

.stat .header > .h-4 {
    float: left;
    width: 100px;
    height: inherit;
}

.stat .header > .h-5 {
    float: left;
    width: 101px;
    height: inherit;
}

.stat .header > .h-6 {
    float: left;
    width: 107px;
    height: inherit;
}

.stat .header > .h-1 .main {
    float: left;
    width: 76px;
    height: 76px;
    margin-left: 20px;
    margin-top: 16px;
    border-radius: 40px;
    background: #10CDC1 url(Icons/h-1.png) no-repeat 15px 18px;
}

.stat .header > .h-2 .main {
    float: left;
    width: 76px;
    height: 76px;
    margin-left: 14px;
    margin-top: 16px;
    border-radius: 40px;
    background: #16C4EC url(Icons/h-2.png) no-repeat 17px 18px;
}

.stat .header > .h-3 .main {
    float: left;
    width: 76px;
    height: 76px;
    margin-left: 10px;
    margin-top: 16px;
    border-radius: 40px;
    background: #10CDC1 url(Icons/h-3.png) no-repeat 17px 21px;
}

.stat .header > .h-4 .main {
    float: left;
    width: 76px;
    height: 76px;
    margin-left: 11px;
    margin-top: 17px;
    border-radius: 40px;
    background: #FA5351 url(Icons/h-4.png) no-repeat 19px 19px;
}

.stat .header > .h-5 .main {
    float: left;
    width: 77px;
    height: 76px;
    margin-left: 13px;
    margin-top: 16px;
    border-radius: 40px;
    background: #10CDC1 url(Icons/h-5.png) no-repeat 21px 17px;
}

.stat .header > .h-6 .main {
    float: left;
    width: 76px;
    height: 76px;
    margin-left: 14px;
    margin-top: 16px;
    border-radius: 40px;
    background: #16C4EC url(Icons/h-6.png) no-repeat 18px 17px;
}

.stat .header > .h-1 .title {
    clear: both;
    width: 110px;
    height: 26px;
    margin-top: 104px;
    text-transform: uppercase;
    font-size:  14px;
    font-family: Signika Negative;
    padding-left: 21px;
}

.stat .header > .h-2 .title {
    clear: both;
    width: 110px;
    height: 27px;
    margin-top: 103px;
    text-transform: uppercase;
    font-size:  14px;
    font-family: Signika Negative;
    padding-left: 20px;
}

.stat .header > .h-3 .title {
    clear: both;
    width: 110px;
    height: 27px;
    margin-top: 103px;
    text-transform: uppercase;
    font-size:  14px;
    font-family: Signika Negative;
    padding-left: 10px;
}

.stat .header > .h-4 .title {
    clear: both;
    width: 110px;
    height: 27px;
    margin-top: 103px;
    text-transform: uppercase;
    font-size:  14px;
    font-family: Signika Negative;
    padding-left: 8px;
}

.stat .header > .h-5 .title {
    clear: both;
    width: 110px;
    height: 27px;
    margin-top: 103px;
    text-transform: uppercase;
    font-size:  14px;
    font-family: Signika Negative;
    padding-left: 9px;
}

.stat .header > .h-6 .title {
    clear: both;
    width: 110px;
    height: 27px;
    margin-top: 103px;
    text-transform: uppercase;
    font-size:  14px;
    font-family: Signika Negative;
    padding-left: 16px;
}

.stat .info {
    float: left;
    width: 625px;
    height: 270px;
}

.stat .info .info-left {
    float: left;
    width: 300px;
    height: 270px;
    color: #34495E;
}

.stat .info .pr-1 .description {
    width: 90px;
    height: 20px;
    margin-left: 20px;
    margin-top: 21px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-1 {
    float: left;
    width: 300px;
    height: 75px;
}

.pr-1 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 217px;
    top: -23px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-1 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-1 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-1 .pr-bar {
    width: 220px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #10CDC1;
}

.pr-1 .progress {
    margin-top: -20px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.stat .info .pr-2 .description {
    width: 90px;
    height: 20px;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-2 {
    float: left;
    width: 300px;
    height: 60px;
}

.pr-2 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 145px;
    top: -25px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-2 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-2 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-2 .pr-bar {
    width: 150px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #10CDC1;
}

.pr-2 .progress {
    margin-top: -19px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.stat .info .pr-3 .description {
    width: 90px;
    height: 20px;
    margin-left: 20px;
    margin-top: -5px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-3 {
    float: left;
    width: 300px;
    height: 55px;
}

.pr-3 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 250px;
    top: -23px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-3 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-3 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-3 .pr-bar {
    width: 255px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #10CDC1;
}

.pr-3 .progress {
    margin-top: -17px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.stat .info .pr-4 .description {
    width: 90px;
    height: 20px;
    margin-left: 20px;
    margin-top: -5px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-4 {
    float: left;
    width: 300px;
    height: 60px;
}

.pr-4 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 227px;
    top: -23px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-4 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-4 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-4 .pr-bar {
    width: 230px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #10CDC1;
}

.pr-4 .progress {
    margin-top: -19px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.info-left .pr-4 .p-4 {
    margin-left: 20px;
    height: 29px;
    margin-top: -5px;
    width: 270px;
}

.info-right {
    float: right;
    width: 300px;
    height: 270px;
    color: #34495E;
}

.stat .info .pr-5 .description {
    width: 170px;
    height: 20px;
    margin-left: 15px;
    margin-top: 21px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-5 {
    float: left;
    width: 300px;
    height: 75px;
}

.pr-5 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 188px;
    top: -24px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-5 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-5 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-5 .pr-bar {
    width: 190px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #16C4EC;
}

.pr-5 .progress {
    margin-top: -20px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.stat .info .pr-6 .description {
    width: 150px;
    height: 20px;
    margin-left: 15px;
    margin-top: 0px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-6 {
    float: left;
    width: 300px;
    height: 60px;
}

.pr-6 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 205px;
    top: -24px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-6 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-6 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-6 .pr-bar {
    width: 205px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #16C4EC;
}

.pr-6 .progress {
    margin-top: -19px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.stat .info .pr-7 .description {
    width: 90px;
    height: 20px;
    margin-left: 15px;
    margin-top: -4px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-7 {
    float: left;
    width: 300px;
    height: 55px;
}

.pr-7 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 155px;
    top: -24px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-7 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-7 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-7 .pr-bar {
    width: 155px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #16C4EC;
}

.pr-7 .progress {
    margin-top: -19px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.stat .info .pr-8 .description {
    width: 150px;
    height: 20px;
    margin-left: 15px;
    margin-top: -5px;
    font-size: 16px;
    padding: 2px;
    padding-top: 10px;
    font-family: Lato;
}

.pr-8 {
    float: left;
    width: 300px;
    height: 60px;
}

.pr-8 .note {
    position: relative; 
    background: #ffffff; 
    height: 22px;
    width: 38px;
    left: 188px;
    top: -24px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Signika Negative;
    text-align: center;
    overflow: hidden; 
    color: #ffffff;
}

.pr-8 .per-cent {
    position: relative;
    margin-top: 2px;
    width: 38px;
    height: 17px;
    border-radius: 5px;
    background-color: #34495E;
}

.pr-8 .note::after {
    content: ''; 
    position: absolute; 
    top: 12px; right: 9px;
    width: 0; height: 0;
    border: 9px solid transparent;	border-top: 9px solid #34495E;
}

.pr-8 .pr-bar {
    width: 185px;
    height: 13px;
    border-radius: 1.5em;
    background-color: #16C4EC;
}

.pr-8 .progress {
    margin-top: -19px;
    margin-left: 20px;
    width: 270px;
    border-radius: 1.5em;
    height: 13px;
    background-color: #DBE1E8;
}

.info-left .pr-8 .p-8 {
    margin-left: 20px;
    height: 29px;
    margin-top: -5px;
    width: 270px;
}

.features .main-middle {
    float: left;
    width: 67px;
    height: inherit;
}

.features .main-middle .time-line {
    width: 6px;
    height: 1150px;
    margin-left: 38px;
    margin-top: 37px;
    background-color: #DBE1E8;
}

.time-line .b-1, .b-4, .b-6, .b-8{
    position: relative;
    width: 20px;
    height: 20px;
    left: -7px;
    border-radius: 20px;
    background-color: #ffffff;
}

.time-line .b-1 {
    top: 160px;
}

.time-line .b-4 {
    top: 463px;
}

.time-line .b-6 {
    top: 701px;
}

.time-line .b-8 {
    top: 860px;
}

.time-line .b-2, .b-3, .b-5, .b-7, .b-9 {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: -7px;
    background-color: #DBE1E8;
}

.time-line .b-2 {
    top: 240px;
}

.time-line .b-3 {
    top: 425px;
}

.time-line .b-5 {
    top: 583px;
}

.time-line .b-7 {
    top: 762px;
}

.time-line .b-9 {
    top: 883px;
}

.time-line .date {
    position: relative;
    top: 959px;
    left: -33px;
    width: 62px;
    height: 31px;
    padding-left: 11px;
    border-radius: 2px;
    font-size: 21px;
    padding-top: 3px;
    font-family: Lato;
    color: #ffffff;
    background-color: #DBE1E8;
}

.footer {
    height: 115px;
    width: 1530px;
}

.footer .cont {
    position: relative;
    width: 605px;
    height: 80px;
    left: 460px;
    top: 10px;
    padding-left: 0px;
    font-style: italic;
    font-size: 17px;
    word-spacing: 1px;
}

.footer .quote-1 {
    display: inline-block;
    position: relative;
    font-size: 97px;
    font-weight: bold;
    left: -5px;
    top: -2px;
    color: #CED4DD;
}

.cont .info {
    display: inline-block;
    position: relative;
    left: 10px;
    top: -45px;
    font-style: italic;
    font-family: Lato;
    color: #34495E;
}

.footer .quote-2 {
    display: inline-block;
    position: relative;
    font-size: 97px;
    font-weight: bold;
    left: 17px;
    color: #CED4DD;
}
